
<ion-view view-title="Annons">
  <ion-content class="padding">
  <div class="item item-body">
 <ul class="list">
    <li>  <a class="item item-icon-left" data-toggle="collapse" data-target="#ListItem1"  style="color: #FF0059;">
          <i class="icon ion-person-add"></i>
              Hur många middagsgäster?
          </a>
          <ul class="collapse" id="ListItem1">
                <li>
                   <div style="position: relative; padding: 6px;">
                          <div> 
                          <input type="text" id="value" value="" name="value"/>
                          </div>
                   </div>
                </li>
          </ul>
    </li>

    <li>  <a class="item item-icon-left" data-toggle="collapse" data-target="#ListItem2"  style="color: #FF0059;">
          <i class="icon ion-home"></i>
          Bestäm plats  </a> 
          <ul class="collapse" id="ListItem2">
                 <li>
                    <div class="item item-input-inset">
                      <label class="item-input-wrapper">            
                      <input type="text" placeholer="Ange plats" id="searchTextField" style="width: 100%;">
                      </label>
                     </div>
                </li>
          </ul>
    </li>

     <li>  <a class="item item-icon-left" data-toggle="collapse" data-target="#ListItem4"  style="color: #FF0059;">
          <i class="icon ion-calendar"></i>
          Bestäm datum  </a>
          <ul class="collapse" id="ListItem4">
                 <li>
                     <div class="item item-input-inset">
                      <label class="item-input-wrapper" >            
                          <input type="text" placeholder="Bestäm datum" id="datepicker" ng-model="ad.date">
                      </label>
                     </div>
                </li>
          </ul>
    </li>


    <li>  <a class="item item-icon-left" data-toggle="collapse" data-target="#ListItem5"  style="color: #FF0059;">
          <i class="icon ion-edit"></i>
          Bestäm ett tema  </a>
          <ul class="collapse" id="ListItem5">
                 <li>
                     <div class="item item-input-inset">
                      <label class="item-input-wrapper" >            
                      <input type="text"  id="theme" placeholder="Bestäm tema" ng-model="ad.theme">
                      </label>
                     </div>
                </li>
          </ul>
    </li>

    <li> <a class="item item-icon-left" data-toggle="collapse" data-target="#ListItem6"  style="color: #FF0059;">
         <i class="icon ion-person"></i>
         Bestäm ålder </a>
         <ul class="collapse" id="ListItem6">
                 <li>     
                      <div style="position: relative; padding: 6px;">
                          <div> 
                          <input type="text" id="range" value="" name="range"/>
                          </div>
                      </div>
                </li>
          </ul>
    </li>

     <li> <a class="item item-icon-left" style="color: #FF0059;">
         <i class="icon ion-person-stalker"></i>
         Bjud in vänner </a> 
         <ul > 
              <button class="button button-full get-values" id="check" ng-click="update(ad)">
                   Spara
             </button>
      </ul>
     </li>
</ul>

 </div>

  </ion-content>
   <ion-footer-bar align-title="left" class="bar-dark" >
  <button class="button button-clear text_center" ng-click="changeView(preview)">Förhandsgranska</button>
  </ion-footer-bar>
</ion-view>