<form ua-login>
    
    <ion-view hide-nav-bar="true"> 
    <ion-content class="overlay" id="background" scroll="false">
   
    <nav-page hide-header-bar="true">
      
    <div id="main-wrap">
   <!--   <div id="left-column" class="overlay">
          <img ng-src="img/photo6.jpeg" width="100%" height="25%">
          <img ng-src="img/photo8.jpeg" width="100%" height="25%">
          <img ng-src="img/photo6.jpeg" width="100%" height="25%">
          <img ng-src="img/photo3.jpeg" width="100%" height="25%">
      </div>
      <div id="right-column" class="overlay">
         <img ng-src="img/photo5.jpeg" width="100%" height="25%">
         <img ng-src="img/photo3.jpeg" width="100%" height="25%">
         <img ng-src="img/photo8.jpeg" width="100%" height="25%">
         <img ng-src="img/photo5.jpeg" width="100%" height="25%">
     </div>  -->
        <div class="center">
           <img ng-src="img/logo.png">
             <button class="button button-large icon-left ion-social-facebook button-positive" ng-click="login('facebook')">
               Logga in med Facebook
            </button>
        </div>  
   </div>
          <span ng-show="!loading"></span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button>
      
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
