<form ua-login>
    
    <ion-view hide-nav-bar="true"> 
    <ion-content id="background" scroll="false">
    <nav-page hide-header-bar="true">
      
   <div class="overlay">  
        <div class="center">
           <img ng-src="img/rsz_1logo.png">
           <p class="subheading"> Stirred, Not Shaken </p>
           <button class="button button-large icon-left ion-social-facebook button-positive" ng-click="login('facebook')">
               Logga in med Facebook
        </div>
 </div>  
          <span ng-show="!loading"></span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
