<form ua-login>
    
    <ion-view title="Login"> 
    <ion-content>
    <nav-page hide-header-bar="true">

    <div id="main-wrap">
      <div id="left-column" class="overlay">
          <img id="image-login" src="../img/Photo6.jpeg" alt="" width="100%" height="25%">
          <img id="image-login" src="../img/Photo8.jpeg" alt="" width="100%" height="25%">
          <img id="image-login"  src="../img/Photo6.jpeg" alt="" width="100%" height="25%">
          <img id="image-login"  src="../img/Photo3.jpeg" alt="" width="100%" height="25%">
      </div>
      <div id="right-column" class="overlay">
          <img id="image-login"  src="../img/Photo5.jpeg" alt="" width="100%" height="25%">
          <img id="image-login"  src="../img/Photo3.jpeg" alt="" width="100%" height="25%">
          <img id="image-login"  src="../img/Photo8.jpeg" alt="" width="100%" height="25%">
          <img id="image-login"  src="../img/Photo5.jpeg" alt="" width="100%" height="25%">
     </div> 

          <img class="text-center login-logo" src="../img/logo.png"> 
          <button class="button button-large icon-left ion-social-facebook button-positive login-fb" ng-click="login()">
          Login with Facebook
          </button>
        </div>
      </div>
    </div>
  <div>
          <span ng-show="!loading"></span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button>
        <!--p class="text-center">
          <a href="#/forgot-password">Forgot password?</a>
        </p-->
        <p class="text-center">
          <a href="#/signup">Sign Up</a>
        </p>
      </div>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>


