<ion-view view-title="{{newPost.ad.date}}">
  <ion-content class="padding">
    <div class="centerRecipe text-center">
        <img  ng-src="{{newPost.recipe.img}}" style="width: 200px; height: 150px">
        <p class="textStyle" style="font-size:26px; color: #FF0059;" >{{newPost.recipe.name}} </p> 
    <hr>
    <div class="row">
        <div class="col">  <i class="icon ion-person-add"></i><p class="textStyle" style="font-size:12px" > Middag för {{newPost.ad.guests}} </p></div>
        <div class="col">  <i class="icon ion-home"></i><p class="textStyle" style="font-size:12px" > På {{newPost.ad.place}} </p></div>
        <div class="col">  <i class="icon ion-person"></i><p class="textStyle" style="font-size:12px" > Åldergräns {{newPost.ad.ageMin}} - {{newPost.ad.ageMax}} </p></div>
        <div class="col">  <i class="icon ion-edit"></i><p class="textStyle" style="font-size:12px" > Tema {{newPost.ad.theme}} </p></div>
    </div>
    <hr>
         <p class="textStyle" style="font-size:18px;" >Värd för denna middag är: </p> 
          <img class="circle_image text-center" ng-src="{{newPost.img}}">
           <p class="textStyle" style="font-size:14px" >{{newPost.name}} </p> 
</div>
      
 </ion-content>
          <ion-footer-bar align-title="left" class="bar-dark" >
          <button class="button button-clear text_center" ng-click="changeView2()">Slutför</button>
          </ion-footer-bar>
</ion-view>
 