<ion-view view-title="{{obj.ad.place}}">
  <ion-content class="padding">
   
  <!--       <img  ng-src="{{recipes.img}}" style="width: 200px; height: 150px">
       <p class="textStyle" style="font-size:22px" > {{recipes.name}} </p> -->
    <!-- <div ng-controller="previewCtrl">   </div> -->
        <p class="textStyle" style="font-size:22px" > Middag för {{obj.ad.guests}} </p>
        <p class="textStyle" style="font-size:22px" > På {{obj.ad.place}} </p>
        <p class="textStyle" style="font-size:22px" > Åldergräns {{obj.ad.age}} </p>
        <p class="textStyle" style="font-size:22px" > Tema {{obj.ad.theme}} </p>

        <p class="textStyle" style="font-size:22px" > Mat {{obj.recipe.name}} </p>
        <img  ng-src="{{obj.recipe.img}}" style="width: 200px; height: 150px">

 </ion-content>
</ion-view>
 