<ion-view view-title="Receptbanken">
  <ion-content>

    <div  class="item-remove-animate wrapper" ng-repeat="recipes in recipes"  type="item-text-wrap">
      <div > 
          <a ng-href="#/receptbanken/{{recipes.id}}">
          <p class="textStyle" style="font-size:32px; color: white; font-weight: bold;">{{recipes.name}} </p>
          <img style="width: 100%; height: 100%; padding-bottom: 10px;" ng-src="{{recipes.img}}">
          </a>
     </div> 
   </div>

  </ion-content>
    </ion-view>
    </ion-list>
  </ion-content>
</ion-view>






