/* Empty. Add your own CSS if you like */


.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

#main-wrap {
    /* overflow to handle inner floating block */
    justify-content: center;
    align-items: center;
 
}

#left-column{
    float: left;
    width: 50%;
    line-height:0;
    
}

#right-column {
    float: right;
    width: 50%;
    line-height: 0;
}   

#image-login {  
    padding: 0px;
    margin: 0px;
    z-index: -5;
}

.overlay {
  background:rgba(0,0,0,0.6);
  z-index: 999;
}

.login-logo {
  z-index: 3;
  margin: auto;
  position: absolute;
  right: 5%;
  top: 15%;
  height: 30%;
  width: 90%;
  
}

.login-fb {
        margin: 0 auto;
      
}

.pink-header {
    background-color: #FF0059;
    height: 200px;
}

.account-header {
    background-color: #FFFFFF;
    height: 300px;
}

.accountCenter {
       margin: auto;
       position: absolute;
      
}

.textStyle {
        font-family: 'Muli', sans-serif;
        margin: auto;
}

.circle_image {
     border-radius: 50%;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
}

.text_center {
    text-align: center;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 0px;
  width: 70px;
  height: 50px;
  margin-top: 10px;
  z-index: -1;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
