/* Empty. Add your own CSS if you like */


.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

#main-wrap {
    /* overflow to handle inner floating block */
    justify-content: center;
    align-items: center;
 
}

#left-column{
    float: left;
    width: 50%;
    line-height:0;
    
}

#right-column {
    float: right;
    width: 50%;
    line-height: 0;
}   

#image-login {  
    padding: 0px;
    margin: 0px;
    z-index: -5;
}

.overlay {
  background:rgba(0,0,0,0.6);
  z-index: 999;
}

.login-logo {
  z-index: 3;
  margin: auto;
  position: absolute;
  right: 5%;
  top: 15%;
  height: 30%;
  width: 90%;
  
}

.pink-header {
    background-color: #FF0059;
    height: 200px;
}

.account-header {
    background-color: #FFFFFF;
    height: 300px;
}

.accountCenter {
    display: block;
    margin: auto;
    margin-top: 65px;   
}

.textStyle {
        font-family: 'Muli', sans-serif;
       
}

.circle_image {
     border-radius: 50%;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 33%;
}

.text_center {
    text-align: center;
}

#background {
      background-image: url("../img/photo6.jpeg"), url("../img/photo8.jpeg"), url("../img/photo6.jpeg"), url("../img/photo3.jpeg"), 
                        url("../img/photo5.jpeg"), url("../img/photo3.jpeg"), url("../img/photo8.jpeg"), url("../img/photo5.jpeg");
      background-position: 0% 0%, 0% 33.333%, 0% 66.666%, 0% 100%, 100% 0%, 100% 33.333%, 100% 66.666%, 100% 100%;
      background-repeat: no-repeat, no-repeat;
      background-size: 50% 25%;
}
 /*right center, right top, left center,  left bottom, right bottom;*/
/*
 <img ng-src="img/photo6.jpeg" width="100%" height="25%">
          <img ng-src="img/photo8.jpeg" width="100%" height="25%">
          <img ng-src="img/photo6.jpeg" width="100%" height="25%">
          <img ng-src="img/photo3.jpeg" width="100%" height="25%">
      </div>
      <div id="right-column" class="overlay">
         <img ng-src="img/photo5.jpeg" width="100%" height="25%">
         <img ng-src="img/photo3.jpeg" width="100%" height="25%">
         <img ng-src="img/photo8.jpeg" width="100%" height="25%">
         <img ng-src="img/photo5.jpeg" width="100%" height="25%">
*/