/* Empty. Add your own CSS if you like */


.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

#main-wrap {
    /* overflow to handle inner floating block */
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#left-column{
    float: left;
    width: 50%;
    line-height:0;
    
}

#right-column {
    float: right;
    width: 50%;
    line-height: 0;
}   

#image-login {  
    padding: 0px;
    margin: 0px;
}

.overlay {
  background:rgba(0,0,0,0.6);
  z-index: 2;
}

.login-logo {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  top:50%;
  left:15%;
}

.login-fb {
  z-index: 3;
  width: 80%;
  height: 80%;
  position: absolute;
  top:35%;
  left:25%;
}
